extends layout
block content
    h1= title
    p Below Should Be Some #{title}
    // Wrapper
    #wrapper
        // Image INFO
        #imageInfo
            h2 Image Info
            p
                strong Colorstyle:
                | <span id='imageInfoColorstyle'></span>
                br
                strong FilePath:
                | <span id='imageInfoFilePath'></span>
                br
                strong PhotoDate:
                | <span id='imageInfoPhotoDate'></span>
                br
                strong ShotNumber:
                | <span id='imageInfoShotNumber'></span>
        // /Image INFO
        // Image LIST
        h2 Image List
        #imageList
            table
                thead
                    th Colorstyle
                    th File_Path
                    th Delete?
                tbody
        // /Image LIST
        // ADD IMAGE
        h2 Add Image
        #addImage
            fieldset
                input#inputImageColorstyle(type='text', placeholder='Colorstyle')
                input#inputImageFilePath(type='text', placeholder='BrowseToUpload')
                br
                input#inputImagePhotoDate(type='date', placeholder='Photo Date')
                input#inputImageMetadata(type='text', placeholder='key: value')
                br
                input#inputImageSessionNotes(type='text', placeholder='Onset Notes')
                input#inputImagePhotoNotes(type='text', placeholder='Image Notes')
                br
                button#btnAddImage Add Image
        // /ADD IMAGE
        // /WRAPPER