extends layout
block content
    h1= title
    p Below Should Be Some #{title}
    // Wrapper
    #wrapper
        // Image LIST
        h2 Image List
        #imageList
            table
                thead
                    th Image_Name
                    th File_Path
                    th Photo_Date
                tbody
        // /Image LIST
    // /WRAPPER
